---
layout: default
---

<div class="posts">
    <div class="container-fluid">
        <div class="post-list">
            {% for post in site.posts %}
                <div class="post">
                    <div>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </div>
                    <div class="byline">
                        <time datetime={{ post.date | date: "%Y-%m-%d" }}>{{ post.date | date_to_string }}
                            <time class="ago" datetime={{ post.date }}></time>
                        </time>
                        &middot;
                        {% for category in post.category %}
                            <span class="category">{{ category }}</span>
                            {% endfor %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

